<h1 mat-dialog-title>{{countryName}} borders</h1>
<table
  mat-table
  [dataSource]="bordersList"
  class="mat-elevation-z8"
  *ngIf="bordersList.data.length>0"
>
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
    >
      name
    </th>
    <td mat-cell *matCellDef="let border">{{ border.name }}</td>
  </ng-container>

  <ng-container matColumnDef="cca3">
    <th
      mat-header-cell
      *matHeaderCellDef
    >
      cca3
    </th>
    <td mat-cell *matCellDef="let border">
      {{ border.cca3 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="region">
    <th
      mat-header-cell
      *matHeaderCellDef
    >
      region
    </th>
    <td mat-cell *matCellDef="let border">{{ border.region }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-dialog-content class="mat-typography" *ngIf="bordersList.data.length<=0">
<h2 > There are no borders for {{countryName}}</h2>
</mat-dialog-content>
