/* table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border-style: solid;
  }
  
  #title {
    text-align: center;
  }
  
  th,
  td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    min-width: 60px;
    cursor: pointer;
  } */